$darkColor: #13405d;
$lightColor: #bddcf0;

$messageColor: #5aaedd;
$messageBackground: #fff;

$inputHeight: 4rem;

$dark: #20826c;
$light: #fff;
$spacing: 40px;
$border: 2px;

$hover-size: $spacing * 2 - $border * 2;
$hover-margin: -38px;
